{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <link rel="stylesheet" href="{% static 'css/checkout.css' %}" >
  <h1>Shipping Information</h1>
  <hr>
  <div class="checkout-info">
    <div class="shipping-info">
      <form id="form">
        <div id="user-info" class="">
          <input type="text" name="name" value="" placeholder="name">
          <input type="email" name="email" value="" placeholder="youremail@email.com">
        </div>
        <div class="">
          <input type="text" name="address" value="" placeholder="address">
          <input type="text" name="city" value="" placeholder="city">
        </div>
        <input type="text" name="state" value="" placeholder="state">
        <input id="form-button" type="submit" name="" value="Continue">
        </form>
        <div id="payment-info" class="payment hidden">
          Pay with paypal
          <button id="make-payment" type="button" name="button">Make payment</button>
        </div>
    </div>

    <div class="cart-info">
      <div class="info">
        <p>Your Cart</p>
        <p id="cart-total-product">{{ order.get_cart_items }}</p>
      </div>
      <hr>
      {% for item in items %}
      <div class="info">
        <p>{{ item.product.name}}</p>
        <p>{{ item.product.price }} CFA</p>
        <p>x {{ item.quantity }}</p>
      </div>
      {% endfor %}
      <hr>
      <div class="info total">
        <p>Total</p>
        <p>{{ order.get_cart_total }} CFA</p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  let shipping = '{{order.shipping}}'

  let total = '{{order.get_cart_total|floatformat}}'

  // if (shipping == 'False') {
  //   document.getElementById('shipping-info').innerHTML = ''
  // }

  // HIDE EMAIL AND NAME IF USER IS LOGGED IN
  if (user != "AnonymousUser") {
    document.getElementById("user-info").innerHTML = ''
  }

  // // HIDE ENTIRE FORM FROM LOGGED IN USER AND NON SHIPPING PRODUCTS
  // if (shipping == "False" && user != "AnonymousUser" {
  //   // Hide entire form
  //   document.getElementById("form").classList.add("hidden")
  //   document.getElementById("form").classList.remove("hidden")
  // }

  let form = document.getElementById("form")
  form.addEventListener("submit", function(e) {
    e.preventDefault()
    console.log("Form Submitted");
    document.getElementById("form-button").classList.add("hidden")
    document.getElementById("payment-info").classList.remove("hidden")
  })

  document.getElementById("make-payment").addEventListener("click", function(e) {
    submitFormData()
  })

  function submitFormData() {
    console.log("Payment button clicked");

    let userFormData = {
      "name": null,
      "email": null,
      "total": total,
    }

    let shippingInfo = {
      "address": null,
      "city": null,
      "state": null,
    }

    if (shipping != "False") {
      shippingInfo.address = form.address.value
      shippingInfo.city = form.city.value
      shippingInfo.state = form.state.value
    }

    if (user == "AnonymousUser") {
      userFormData.name = form.name.value
      userFormData.email = form.email.value
    }

    let url = "/process_order/"
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken
      },
      body:JSON.stringify({"form": userFormData, "shipping": shippingInfo}),
    })
    .then((response) => response.json())
    .then((data) => {
      console.log("Success:", data);
      alert("Transaction completed")

      cart = {}
      document.cookie = "cart=" + JSON.stringify(cart)  + ";domain=;path=/"
      window.location.href = "{% url 'store' %}"
    })
  }
</script>
{% endblock content %}
